@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,300&subset=latin,cyrillic);
html {
  height: 100%;
}
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-color: #ededed;
  font-family: 'Open Sans', sans-serif;
}


/* Sidebar */
.b_sidebar {
  width: 0;
  float: left;
  height: 100%;
  border-right: 1px solid #444;
  box-shadow: 0 0 30px #000 inset;
  position: relative;
  padding: 0;
  transition: width 1s;
  z-index: 10;
  overflow: hidden;
}
.b_sidebar--active {
  width: 200px;
}
.b_sidebar--active + .b_sidebar__label {
  left: 175px;
}
.b_sidebar--active + .b_sidebar__label .fa {
  margin-left: 11px;
}
.b_sidebar__label {
  position: absolute;
  transition: left 1s;
  top: 50%;
  left: -25px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  line-height: 50px;
  margin-top: -25px;
  background-color: #666;
  cursor: pointer;
  z-index: 10;
  font-size: 30px;
  color: #fff;
}
.b_sidebar__label .fa {
  margin-left: 20px;
}

/* Presentation View */
.b_presentations {
  height: 100%;
  overflow: hidden;
  position: relative;
}


/* Nav Menu */
.b_nav_menu {
  margin: 40px;
  padding: 0;
}
.b_nav_menu__item {
  text-align: center;
  color: #111;
  display: block;
  height: 100px;
  width: 100px;
  margin-bottom: 30px;
  background-color: #fff9c0;
  padding: 10px;
  box-shadow: 0 0 5px #000;
  border-radius: 3px;
  cursor: pointer;
}
.b_nav_menu__item--active{
  background-color: #fbca3c;
}